@using EntityLayer.Concrete
@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class=" grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Deneyim Sayfası</h4>
            
                <div class="d-flex justify-content-end  ">
                    <a href="/Experience/AddExperience/" class="btn btn-outline-primary">Yeni Deneyim Ekle</a>
               
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Tarih</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td></td>
                            <td>@item.Name</td>
                            <td>@item.Date</td>
                                <td>
                                    <a href="/Experience/RemoveExperience/@item.ExperienceId" class="btn btn-outline-danger" onclick="return confirm('Bu Deneyimi silmek istediğinize emin misiniz?')"><i class="mdi mdi-folder-remove"></i></a>
                            </td>
                                <td><a href="/Experience/UpdateExperience/@item.ExperienceId" class="btn btn-outline-success">Güncelle</a></td>
                                
                        </tr>
                        }                   
                    </tbody>
                </table>
               
            </div>
        </div>
    </div>
</div>

