@using EntityLayer.Concrete
@model List<Contact>
<div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
    @foreach (var item in Model)
    {
        
    
    <div class="mt-3 px-1">

        <div class="h5">@item.Title</div>
        <p>@item.Description  </p>
        <p>Bana mail gönderebilir ve sorularınızı iletebilirsiniz.</p>
        <p>İyi günler dilerim.</p>
    </div>
    <div class="mt-53 px-1">
        <div class="row">
  
            <div class="col-sm-2">
                <div class="pb-1">Email:</div>
            </div>
            <div class="col-sm-10">
                <div class="pb-1 fw-bolder">@item.Mail</div>
            </div>  
            <div class="col-sm-2">
                <div class="pb-1">Linkedin:</div>
            </div>
                <div class="col-sm-10">
                    <a href="https://www.linkedin.com/in/görkem-gökçeli/" class="pb-1 fw-bolder">Görkem Gökçeli</a>
                </div>
            
                <div class="col-sm-10">
                    <a href="tel:+@item.Phone" class="pb-1 fw-bolder bg-yellow">Telefon ile ulaşmak için tıklayınız </a>
                </div>
           
        </div>
    </div>
    }
</div>