@model EntityLayer.Concrete.WriterMessage   
@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="message-form-container">
    <span>Bu panel site içerisindeki üyeler ile iletişim alanıdır.</span>
    <form method="post" class="message-form">
        <div class="py-2 px-4 border-bottom d-none d-lg-block">
            <div class="d-flex align-items-center py-1">
                <div class="form-group mr-3">
                    <label for="receiver">Alıcı Mail:</label>
                    <select class="form-control" id="Receiver" name="Receiver" required>
                        <option value="">Seçiniz...</option>
                        @foreach (var userEmail in ViewBag.UserEmails)
                        {
                            <option value="@userEmail">@userEmail</option>
                        }
                    </select>
                </div>
                <div class="form-group mr-3">
                    <label for="subject">Konu:</label>
                    <input type="text" class="form-control" id="Subject" name="Subject" placeholder="Konu" required>
                </div>
                <button class="btn btn-primary">Gönder</button>
            </div>
        </div>
        <div class="chat-message-left pb-4">
            <div class="form-group ml-3">
                <br />
                <label for="message">Mesajınız:</label>
                <textarea class="form-control" id="MessageContent" name="MessageContent" placeholder="Mesajınızı yazın..." rows="4" required></textarea>
            </div>
            <button type="button" class="btn btn-light" onclick="clearInputs()">Temizle</button>
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Dashboard", "Writer")'">İptal</button>
        </div>
    </form>
    
</div>




